import 'package:freezed_annotation/freezed_annotation.dart';

part '{{entity_name_snack_case}}_entity.codegen.freezed.dart';

@freezed
class {{entity.name}}Entity with _${{entity.name}}Entity {
  const factory {{entity.name}}Entity({
    {{#entity.properties}}
    {{type}} {{name}},
    {{/entity.properties}}
  }) = _{{entity.name}}Entity;
}
