import 'package:freezed_annotation/freezed_annotation.dart';

part '{{entity_name_snack_case}}_model.codegen.freezed.dart';
part '{{entity_name_snack_case}}_model.codegen.g.dart';

@freezed
class {{entity.name}}Model with _${{entity.name}}Model {
  const factory {{entity.name}}Model({
    {{#entity.properties}}
    {{type}} {{name}},
    {{/entity.properties}}
  }) = _{{entity.name}}Model;

  factory {{entity.name}}Model.fromJson(Map<String, dynamic> json) => _${{entity.name}}ModelFromJson(json);
}